.artifact-overview {
  padding-bottom: 0.5rem;

  h2 {
    border-bottom: 1px solid rgb(var(--border));
    padding-bottom: 0.5rem;
  }

  table {
    padding: 0;
    font-size: 0.875rem;
    line-height: 17px;

    th,
    td {
      padding-left: 0;
      padding-top: scale.$sm--2;
      padding-bottom: scale.$sm--2;
      vertical-align: top;
    }

    th {
      font-weight: normal;
      color: rgb(var(--text-muted));
      padding-right: scale.$lg--10;
      text-align: left;
    }

    .status-indicator {
      display: flex;
      align-items: flex-end;
      padding-bottom: 0.25rem;
    }

    .refresh-health-check-button {
      padding: 0 0.25rem;
      height: inherit;
      display: flex;
      align-items: baseline;
    }

    .image-ref:first-child {
      margin-top: -1px;
    }
  }
}
